*{box-sizing: border-box;}
.square{
    width: 100px;
    height: 100px;}
.red{background-color: red;
    float: right;}
.green{background-color: green;
    float: left;}
.footer{border: 2px solid black;
    height: 30px;
    clear: both;}
.conteiner{width: 50%;
    height: auto;
    background-color: aqua;
    float: left;
    padding: 15px;}